/* src/components/LandingAnimation.css */
.landing-animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent overflow during animation */
  z-index: 10; /* Keep this on top */
}

.landing-animation img {
  min-height: 100vh;
  min-width: 100vw;
  object-fit: cover; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
  overflow: hidden;
}

.fly-out {
  animation: fade-back 1s ease-in-out forwards; /* Add animation */
}

@keyframes fade-back {
  to {
    filter: brightness(50%);
    z-index: -1; /* Set z-index to -1 to act as background */
}
}