/* src/components/LandingAnimation.css */
.landing-animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*Full viewport height*/
  overflow: hidden; /* Prevent overflow during animation */
  z-index: 1000;
}

.landing-animation img {
  min-height: 100vh;
  min-width: 100vw;
  object-fit: cover; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
  overflow: hidden;
}
.fly-out {
  animation: fly-out 1s ease-in-out; /* Ensure image also transitions */
}
@keyframes fly-out {
  to {
    transform: translateY(-150vh);
  } /* Move the image out of the viewport */
}