/* src/components/Navbar.css */

@font-face {
    font-family: 'gagalin';
    src: url('../assets/gagalin.otf') format('opentype');
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    opacity: 0; /* Start hidden */
    transition: opacity 2s ease; /* Smooth transition */
    font-family: 'gagalin';
    font-size: 40px;
}

.nav {
    display: flex;
    gap: 20px;
}

.fade-in {
    opacity: 1; /* Fully visible */
}

.fade-out {
    opacity: 0; /* Fully hidden */
}

.logo {
    color: yellow;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between links */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 26px;
    transition: all 0.6s ease-in-out;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.sign-in button {
    background-color: #fce327; /* Yellow background */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50px; /* Rounded corners */
}

.sign-in button:hover {
    background-color: #ffe30f;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}